# This file is managed centrally.  If you find the need to modify this as a
# one-off, please don't.  Intead, consult #openstack-charms and ask about
# requirements management in charms via bot-control.  Thank you.
pbr>=1.8.0,<1.9.0
simplejson>=2.2.0
netifaces>=0.10.4
netaddr>=0.7.12,!=0.7.16
Jinja2>=2.6  # BSD License (3 clause)
six>=1.9.0
dnspython>=1.12.0
psutil>=1.1.1,<2.0.0
