*.swp
bc-tools
aodh
barbican
barbican-softhsm
ceilometer
ceilometer-agent
ceph
ceph-mon
ceph-osd
ceph-proxy
ceph-radosgw
cinder
cinder-backup
cinder-ceph
designate
designate-bind
glance
hacluster
heat
keystone
lxd
neutron-api
neutron-api-odl
neutron-gateway
neutron-openvswitch
nova-cloud-controller
nova-compute
odl-controller
openstack-dashboard
openvswitch-odl
percona-cluster
rabbitmq-server
swift-proxy
swift-storage
tempest
