*.swp
bc-tools
commit-message-tests-yaml.txt
aodh
barbican
barbican-softhsm
barbican-vault
ceilometer
ceilometer-agent
ceph
ceph-fs
ceph-mon
ceph-osd
ceph-proxy
ceph-radosgw
cinder
cinder-backup
cinder-ceph
designate
designate-bind
glance
glance-simplestreams-sync
gnocchi
hacluster
heat
keystone
keystone-ldap
lxd
manila
manila-generic
neutron-api
neutron-api-odl
neutron-dynamic-routing
neutron-gateway
neutron-openvswitch
nova-cell-controller
nova-cloud-controller
nova-compute
nova-compute-proxy
octavia
odl-controller
openstack-dashboard
openvswitch-odl
percona-cluster
rabbitmq-server
swift-proxy
swift-storage
tempest
vault
