*.swp
*~
resource.zip
bc-tools
commit-message-tests-yaml.txt
aodh
barbican
barbican-softhsm
barbican-vault
ceilometer
ceilometer-agent
ceph-fs
ceph-mon
ceph-osd
ceph-proxy
ceph-radosgw
ceph-rbd-mirror
cinder
cinder-backup
cinder-ceph
designate
designate-bind
glance
glance-simplestreams-sync
gnocchi
hacluster
heat
keystone
keystone-ldap
keystone-saml-mellon
masakari
masakari-monitors
manila
manila-generic
neutron-api
neutron-dynamic-routing
neutron-gateway
neutron-openvswitch
nova-cell-controller
nova-cloud-controller
nova-compute
octavia
octavia-dashboard
octavia-diskimage-retrofit
pacemaker-remote
openstack-dashboard
percona-cluster
rabbitmq-server
swift-proxy
swift-storage
tempest
vault
cinder-purestorage
mysql-innodb-cluster
mysql-router
neutron-api-plugin-ovn
ovn-central
ovn-chassis
ovn-dedicated-chassis
