ruamel.yaml
theblues
libcharmstore
git+https://github.com/openstack-charmers/charmed-openstack-info.git#egg=charmed-openstack-info
GitPython
humanize
launchpadlib
# https://github.com/python/importlib_resources/pull/255
importlib-resources>=5.9

